.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &__path-buttons {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        &>*{
            width: 20%;
            height: 50%;
            border-radius: 12px;
            padding: 0;
            background-color: $theme-light;
            color: white;
            text-align: center;
            font-size: medium;
        }
    }
}