.footer {
    max-height: 5rem;
    background-color: #fff;
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Arial', sans-serif;

    &__button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
    
        &:hover {
            & .footer_icon{
                transform: scale(1.1);
            }
        }
    }

    &__icon {
        width: 1.2rem;
        height: 1.2rem;
        transition: transform 0.3s ease;
    }

    &__text {
        font-size: 0.9rem;
        color: #aaa;
    
        &:hover {
            color: #000000;
        }
    }
}