.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    gap: 1rem;
    padding: .5rem;
    border-radius: 8px;
    background-color: white;

    &.--transparent{
        background-color: transparent;
    }

    &>h2{
        text-align: center;
    }

    &__order-select{
        width: 40%;
        max-width: 10rem;
        padding: .3rem;
    }

    &__images {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: .8rem;
    }
}

@media (min-width: $tablet_min-width){
    .gallery{
        &__images{
            flex-direction: row;
        }
    }
}