.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    gap: 1rem;
    padding: .5rem;
    border-radius: 8px;
    background-color: white;

    &.--transparent{
        background-color: transparent;
    }

    &>h2{
        text-align: center;
    }

    &>select{
        width: 30%;
        height: 6%;
    }

    &__images {
        display: flex;
        flex-wrap: wrap;
        gap: .8rem;
        width: 90%;

        &>article{
            display: flex;
            flex-direction: column;
            justify-content: end;
            gap: .6rem;
            width: 29%;

            &>section{
                display: flex;
                flex-direction: row;

                &>button{
                    width: 100%;
                    padding: 0;
                    background-color: transparent;

                    &>img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}