$theme-colors: (
  x-light: #BBE7A7,
  light: #38CD4F,
  medium: #38AA4F,
  dark: #394D3B
);

$font: "Inria Sans", sans-serif;

* {
    font-family: $font;
}

body{
    background-color: map-get($theme-colors, dark);
}

footer{
    position: relative;
    bottom: 0;
    margin-top: 3rem;
    padding: .7rem;
    background-color: white;
    color: map-get($theme-colors, light);
}