$theme-light: map-get($theme-colors, light);

header {
    width: 100%;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}

h1{
    width: 100%;
    max-width: 40%;
    color: $theme-light;
    font-size: 16px;
    text-align: left;
}