.main-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    &__path-buttons {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-block: 1.5rem;
    }
}