.path-button{
    width: 20%;
    max-width: 7rem;
    border-radius: 12px;
    padding: 0;
    background-color: $theme-light;
    color: white;
    text-align: center;
    font-size: medium;

    &.--selected{
        background-color: map-get($map: $theme-colors, $key: medium);
        pointer-events: none;
        opacity: 0.8;
    }
}