.show-info {
    position: fixed;
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: .2rem;

    &__close {
        position: absolute;
        top: 0;
        right: .25rem;
        padding: .1rem;
        border: 0;
        color: red;
    }

    &__static {
        width: 100%;
        height: 50%;
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: .3rem;

        &__img{
            width: 100%;
            height: 100%;
        }

        &__data {
            margin-top: 1.3rem;
            display: flex;
            flex-direction: column;
            gap: .3rem;
            &>*{
                border: 1px solid;
                border-radius: 8px;
                background-color: rgb(206, 238, 217);
                padding: .3rem;
                font-size: .75em;
            }
        }
    }

    &__form{
        flex: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .25rem;

        &__description {
            width: 100%;
            flex: 1;
            text-align: start;
            align-content: flex-start;
        }

        &>button {
            background-color: map-get($map: $theme-colors, $key: light);
            color: white;
        }
    }

}