@import 'global', 'header', 'main-body', 'gallery', 'path-button',
'components';

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;

   font-family: $font;
}
body {
   min-width: 320px;
}

#root {
   display: flex;
   flex-direction: column;
   width: 100%;
}