body {
  background-color: #394D3B; }

footer {
  position: relative;
  bottom: 0;
  margin-top: 3rem;
  padding: .7rem;
  background-color: white;
  color: #777c78; }

header {
  width: 100%;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white; }

h1 {
  width: 60%;
  color: #38CD4F;
  font-size: 16px;
  text-align: left; }

@media screen and (min-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem; }

  h1 {
    text-align: center;
    font-size: 3.5rem; } }
.footer {
  max-height: 5rem;
  background-color: #fff;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Arial', sans-serif; }
  .footer__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0; }
    .footer__button:hover .footer_icon {
      transform: scale(1.1); }
  .footer__icon {
    width: 1.2rem;
    height: 1.2rem;
    transition: transform 0.3s ease; }
  .footer__text {
    font-size: 0.9rem;
    color: #aaa; }
    .footer__text:hover {
      color: #000000; }

.main-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  z-index: 1; }
  .main-body__path-buttons {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-block: 1.5rem; }

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
  gap: 1rem;
  padding: .5rem;
  border-radius: 8px;
  background-color: white; }
  .gallery.--transparent {
    background-color: transparent; }
  .gallery > h2 {
    text-align: center; }
  .gallery__order-select {
    width: 40%;
    max-width: 10rem;
    padding: .3rem; }
  .gallery__images {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    width: 90%; }

.path-button {
  width: 20%;
  border-radius: 12px;
  padding: 0;
  background-color: #38CD4F;
  color: white;
  text-align: center;
  font-size: medium; }
  .path-button.--selected {
    background-color: #38AA4F;
    pointer-events: none;
    opacity: 0.8; }

.show-info {
  position: fixed;
  width: 90%;
  max-width: 50rem;
  height: 65%;
  max-height: 30rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  top: 7rem;
  padding: .2rem; }
  .show-info__close {
    position: absolute;
    top: 0;
    right: .25rem;
    padding: .1rem;
    border: 0;
    color: red; }
  .show-info__static {
    width: 100%;
    height: 50%;
    flex: 1;
    display: flex;
    flex-direction: row;
    place-content: space-around;
    gap: .3rem; }
    .show-info__static__img {
      width: 100%;
      max-width: 30rem;
      height: 100%; }
    .show-info__static__data {
      margin-top: 1.3rem;
      display: flex;
      flex-direction: column;
      gap: .3rem; }
      .show-info__static__data > * {
        border: 1px solid;
        border-radius: 8px;
        background-color: #ceeed9;
        padding: .2rem;
        font-size: .75em; }
  .show-info__form {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .25rem; }
    .show-info__form__description {
      resize: none;
      width: 100%;
      flex: 1;
      padding: .15rem;
      text-align: start;
      align-content: flex-start;
      background-color: #ceeed9; }
    .show-info__form > button {
      background-color: #38CD4F;
      color: white; }

@media (min-width: 600px) {
  .show-info {
    height: 30rem; } }
.juNRvt {
  margin: 0 auto; }

.searchbar {
  width: 90%;
  max-width: 25rem;
  border: 1px solid #38CD4F;
  border-radius: 24px;
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.3);
  padding: .3rem;
  display: flex;
  flex-direction: row;
  gap: .5rem; }
  .searchbar > button {
    padding: 0; }
  .searchbar > input {
    width: 100%;
    border: 0;
    outline: none; }

.gallery-img {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: .6rem;
  width: 29%;
  max-width: 10rem; }
  .gallery-img > section {
    display: flex;
    flex-direction: row; }
    .gallery-img > section > button {
      width: 100%;
      padding: 0;
      background-color: transparent; }
      .gallery-img > section > button > img {
        width: 100%;
        height: 100%; }

@media screen and (min-width: 600px) {
  .searchbar > input {
    font-size: large; } }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inria Sans", sans-serif; }

body {
  min-width: 320px; }

#root {
  display: flex;
  flex-direction: column;
  width: 100%; }

/*# sourceMappingURL=styles.css.map */
